.service-packages , h3 {
  color:black;
  display: flex;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.63);
  padding: 20px;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  justify-content: space-evenly;
  
  padding: 10px;
  margin-bottom: 20px;
}

.image-container img {
  width: 45%;
  height: auto;
}