
h1 {
  text-align: center;
}

/* Style the title container */
h1 {
  background-color: #f2f2f2;
  color: #000;
  padding: 20px;
  margin-top: 0;
}

/* Style the service packages */
.service-package {
  background-color: #7978783a;
  padding: 20px;
  display:inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  margin: 10px;
  text-align: center;
}

.service-package button {
  height: fit-content;

}


/* Adjust service packages when the screen size changes */
@media (max-width: 768px) {
  .service-package {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .service-package {
    width: 100%;
  }
}

